<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API info</title>
</head>
<body>
<div align="center">
    <h2>API</h2>
    <h3>Для просмотра собственных привычек необходимо обратиться к <b>/api/habits с запросом GET</b></h3>
    <h3>Для просмотра всех привычек, имеющих публичный статус, можно обратиться к <b>/api/all-habits</b></h3>
    <h3>Регистрация аккаунта реализована в обращении к <b>/api/account/register</b> (Необходимо вводить корректную почту и пароль)</h3>
    <h3>Вход, получение токена с последующим его использованием в запросах реализовано в <b>/api/account/login</b></h3>
    <h3>Для получения информации о своем аккаунте можно обратиться к <b>/api/account/my-info</b></h3>
    <h3>CRUD механизм реализован в /api/habits с указанием запроса. Для получения конкретного экземпляра привычки следует обращаться к url-у с id привычки в конце: <b>/api/habits/{id}</b></h3>
</div>
</body>
</html>